{{outlet}}

<footer id="page-footer">
  <div class="container">
    <p>Licensed under <a href="https://github.com/cdatehortuab/ember-intl-tel-input/blob/master/LICENSE.md">MIT</a>.</p>
  </div>{{!-- /.container --}}
</footer>